.container, .row {
    padding: 20px;
    margin-top: 10px;
}

.card {
    margin: 5px;
}

.bordered {
    border: 10px solid white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#header {
    background-color: #0dceda;
}

#body {
    background-color: #ebfffa;
}

#submission {
    background-color: #ebfffa;
}

h4 {
    text-align: center;
}
